<% if options.orientation == :horizontal %>{<% end %>
<table border="0" align="center" cellspacing="0" cellpadding="10" bgcolor="#4688F1" width="<%= NODE_WIDTH / 2 %>">
  <tr bgcolor="#4688F1" >
    <td align="center" valign="middle"  bgcolor="#4688F1" width="<%= NODE_WIDTH * 1.4 %>"><font face="<%= FONTS[:bold] %>" color="#ffffff"><%= entity.name %></font></td>
  </tr>
</table>
<% if attributes.any? %>
|
<table border="0" align="left" cellspacing="2" cellpadding="4">
<%   attributes.each do |attribute| %>
  <tr>
    <td align="left" width="<%= NODE_WIDTH %>" port="<%= attribute %>"><%= attribute %></td> <td align="right"><font face="<%= FONTS[:italic] %>" color="grey60"><%= attribute.type_description %></font></td></tr>
<%   end %>
</table>
<% else %>
<% end %>
<% if options.orientation == :horizontal %>}<% end %>
